apiVersion: apps/v1
kind: Deployment
metadata:
  name: healthcare-api-to-ci-cd-pipeline-builder-deployment
spec:
  selector:
    matchLabels:
      app: myapp
  replicas: 2
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: prathameshvarhadpande/healthcare-api-to-ci-cd-pipeline-builder:latest
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 8501